<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="e139c7f5-ca2c-45e5-ad7b-b6920b3d41b7" name="Insurance Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="e139c7f5-ca2c-45e5-ad7b-b6920b3d41b7fileName">Insurance-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
